/*configuração dos elementos da página */
*{
	margin-right: 0;
}

body{
	font-family: Arial;
	font-size: 14px;
	color: #000;
	width: 90%;
	margin: 0 auto;
}

header{
	clear: both;
	padding: 0.5em;
}

nav{
	clear: both;
	background-color: #4286f4;
	padding: 0.2em 0;
}

aside{
	padding: 0;
	font-size: 0.9em;
	position: relative;
	float: left;
	width: 20%;	
}

main{
	position: relative;
	float: right;
	width: 78%;
}

#principal{
	position: relative;
	float: left;
	width: 73%;
}

#secundario{
	position: relative;
	float: right;
	width: 22%;
}

footer{
	clear: both;
	margin-top: 1em;
	padding: 0.1em 0;
	border-top: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	background-color: #F8F8F8;
	font-size: 0.8em;
}

/*formatação de texto*/
h1{
	color: #C60;
}

#principal h2{
	color: #C60;
}
#secundario h2{
	background-color: #DB905C;
	padding: 0.2em;
	font-size: 1em;
	color: #FFF;
}

h3{
	color: #036;
}

.menu{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li{
	display: inline;
}

.menu li a{
	text-decoration: none;
	padding: 0.5em;
	color: white;
}

.menu li a:hover{
	text-decoration: underline;
	color: orange;
}

#favoritos{
	padding: 5px;
	margin-top: 1em;
	background-color: #F8F8F8;
	border: 1px solid #C5C5C5; 
}
/*O menu Favoritos deve ter um padding de 5 píxeis a toda a volta, 
uma margem de cima de 1em e uma cor de fundo de #F8F8F8. Adicionalmente,
deve ter uma moldura de 1px, de linha sólida e cor #C5C5C5.*/

#favoritos p .date{
	color: #999;
	display: block;
}

#grupos{
	padding: 5px;
	margin-top: 0.5em;
	background-color: #FFF6CD;
	border: 1px dashed #C60; 
}
/* O menu Grupos de ter também um padding de 5 píxeis a toda a volta,
uma margem superior de 0.5em, uma cor de fundo de #FFF6CD 
e uma moldura tracejada de 1px e cor #C60. */

#grupos a{
	color: #C60;
}

#principal article{
	margin-bottom: 1em;
}

#principal p{
	text-align: justify;
}

#secundario article{
	margin-bottom: 1em;
}

#secundario p{
	margin: 0.2em 0;
	padding: 0 5px;
}

#footer p{
	text-align: right;
}