/*configuração dos elementos da página */
*{
	margin-right: 0;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	font-family: Arial;
	font-size: 14px;
	color: #000;	
}
.content {
	flex: 1 0 auto;
}

.navbar{
	border-bottom: 1px solid #f7a97b;
}

aside{
	padding: 0 10px 0 25px;
	font-size: 0.9em;
	position: relative;
	float: right;
	width: 25%;	
}

h3{
	color: #212529;
}

/*O menu Favoritos deve ter um padding de 5 píxeis a toda a volta, 
uma margem de cima de 1em e uma cor de fundo de #F8F8F8. Adicionalmente,
deve ter uma moldura de 1px, de linha sólida e cor #C5C5C5.*/
#favoritos{
	padding: 5px;
	margin-top: 1em ;
	background-color: #fff1ea;
	border: 1px solid #f7a97b; 
}

#favoritos h3{
	font-size: 1.5em;
}

#favoritos ul{
	list-style-type: none;
	margin: 0;
	padding-left: 1em;
}

#favoritos li{
	padding: 0.5em 0;
}

#favoritos a{
	font-weight: bold;
	color: #157347;
	display: block;

}

#article3{
	margin: 1em 0;
}

#article3 h2{
	background-color: #157347;
	padding: 0.2em;
	font-size: 1em;
	color: #FFF;
}

#article3 p{
	margin: 0.2em 0;
	padding: 0 5px;
}

main{
	position: relative;
	float: right;
	width: 73%;
}

h1{
	color: #f7a97b;/*#60*/
}

h2{
	padding-top: 10px;
	color: #f7a97b;/*#60*/
}

#principal{
	position: relative;
	float: left;
}

#principal article{
	margin-bottom: 1em;
}

#principal article p{
	text-align: justify;
}

#carouselExampleControls{
	width: 60%;
	margin: 15px auto 10px auto;
}

#cardProducts{
	margin-top: 10px;
}

footer{
	flex-shrink: 0
	margin-top: 1em;
	padding: 0.1em 0;
	border-top: 1px solid #f7a97b;
	border-bottom: 1px solid #f7a97b;
	background-color: #fff1ea;
	font-size: 0.8em;
}

#footer a{
	text-align: left;
	text-decoration:none;
	color: inherit;
}

#footer p{
	text-align: right;
}

/*cart classes*/
.cart-container {
	position: relative;
	margin: auto;
	width: 70%;
}

.cart-container h2 {
	margin: 10px 0 30px 0;
	text-align: center;
	color: green;
}

.btn-quantity {
	width: 50px;
	border: 1px solid green;
	border-radius: 8px;
	text-align: center;
}

.btn-spacing {
	margin-left: 15px;
}

.btn-checkout {
	margin-top: 25px;
	text-align: center;
}

#backToHome{
	margin-top: 30px;
	text-align: center;
}